#map {
  position: relative; /* So .point is relative to #map */
  width: 1000px;
  height: 600px;
  border: 1px solid grey;
}

.point {
  position: absolute; /* So .point is relative to #map */
  width: 10px;
  height: 10px;
  background-color:red;
}
