#canvas {
  border: 1px solid grey;
  cursor: crosshair;
}

#menubar div.menu {
  float:left;
  height: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}

.menu.colors div {
  width: 19px;
  height: 19px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 2px;
  float:left;
}
