#canvas {
  border: 1px solid grey;
  cursor: crosshair;
}

#menubar div.menu {
  height: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}

.menu .color {
  width: 19px;
  height: 19px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 2px;
  float:left;
}

.menu .picked div {
  float:left;
  margin-top: 2px;
}
.menu .picked .color { border: 1px solid black; }

.menu div {
  float:left;
}
